{% extends "base.html" %}

    {% block script %}
        <script>
        $(document).ready(function () {
            $.ajax ({
               url: "/api/tweet/",
                method: "GET",
                success: function (data) {
                  //  console.log(data)
                    $.each(data, function (key, value) {
                        var tweetKey = key;
                        var tweetContent = value.content;
                        var tweetUser = value.user;
                        $("#twitter-container").append(
                            "<div class=\"media\"><div class=\"media\">" + tweetContent + "<br/> via " + tweetUser.username + " | " + "<a href='#'>View</a>" + "</div></div><hr/>"
                        )
                    })
                },
                error: function (data) {
                   console.log("error");
                   console.log(data)

                }
            })
        });
        </script>
    {% endblock script %}

{% block content %}

    <div class='row' xmlns="http://www.w3.org/1999/html">
    {% if user.is_authenticated %}
        <div class='col-sm-3 col-xs-12' style='background-color:red;'>
        <h1>{{ request.user }}</h1>
        </div>
        {% else %}
        <div class='col-sm-3 col-xs-12'>
        </div>
    {% endif %}
        <div class='col-sm-9 '>
            {% if not request.GET.q %}
       <div class=''>
            {% include 'tweets/form.html' with form=create_form action_url=create_url btn_title='Tweet' %}
       </div>
        <hr>
            {% endif %}
            <div id="twitter-container">
    </div>
        {% for object in object_list %}
        {% empty %}
            {% if request.GET.q %}
             <p>No tweets found.</p>
            {% else %}
            <p>No tweets yet.</p>
            {% endif %}
        {% endfor %}

        </div>
    </div>

{% endblock content %}